* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  overflow: hidden;
  /* background: url("https://wallpaperaccess.com/full/1155041.jpg");  */
  /* background: url("https://papers.co/wallpaper/papers.co-mb14-wallpaper-fire-stars-space-8-wallpaper.jpg"); */
  background-color: black;
}

.scene,
canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}

